 :root{
  --grey: #ECEBDE;
  --skyblue: #D4EBF8;
 }
.app-body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(../public/images/extraction-2.jpg) top center no-repeat;
  background-size: cover;
  background-position: center;
}
/* .content-body{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.navbar-body{
  width:50vw;
  z-index: 1000;
  transform: translateY(3rem);
  border-radius:25px;
  background-color: var(--skyblue);
}
.hero-body{
min-height: 100vh;
}
.movie-btn{
  border-radius: 25px;
  background-color: var(--skyblue);
}
.movie-btn:hover,
.movie-btn:focus,
.movie-btn:active,
.movie-btn:focus:active{
  background-color: var(--skyblue);
}
.nav-links{
  text-decoration: none;
  color: inherit;
}
/* TOP MOVIES STYLING */
/* .top-movies{
  z-index: 100;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* TOP MOVIES STYLING */
/* Movie Card styling */
.movie-card{
  backdrop-filter: blur(13px) saturate(162%);
  -webkit-backdrop-filter: blur(13px) saturate(162%);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
/* Movie Card styling */

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar-body{
    width:90vw;
    transform: translateY(0.5rem);
  }
}