 :root{
  --grey: #ECEBDE;
  --skyblue: #D4EBF8;
 }
@tailwind base;
@tailwind components;
@tailwind utilities;
.body{
  overflow: hidden;
}
.app-body{
  /* display: flex;
  flex-direction: column;
  /* background-image: url(/images/squared-bg.svg) top center no-repeat; */
  height: 100%;
  background-color:#000;
  /* background-blend-mode: lighten; */
  /* background-size: cover; */
  /* background-position: center;  */
  /* @apply relative max-w-3xl px-4 sm:px-6 lg:px-8 flex flex-col justify-center sm:items-center mx-auto size-full before:absolute before:top-0 before:start-1/2 before:bg-[url('https://preline.co/assets/svg/examples-dark/squared-bg-element.svg')] before:bg-no-repeat before:bg-top before:size-full before:-z-[1] before:transform before:-translate-x-1/2; */
}
/* .content-body{
  flex: 1;
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.navbar-body{
  width:70vw;
  z-index: 1000;
  transform: translateY(3rem);
  border-radius:25px;
  background-color: var(--skyblue);
}
.hero-body{
min-height: 100vh;
}
.movie-btn{
  border-radius: 25px;
  background-color: var(--skyblue);
}
.movie-btn:hover,
.movie-btn:focus,
.movie-btn:active,
.movie-btn:focus:active{
  background-color: var(--skyblue);
}
.nav-links{
  text-decoration: none;
  color: inherit;
}
/* TOP MOVIES STYLING */
/* .top-movies{
  z-index: 100;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* TOP MOVIES STYLING */
/* Movie Card styling */
.movie-card{
  backdrop-filter: blur(13px) saturate(162%);
  -webkit-backdrop-filter: blur(13px) saturate(162%);
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
.movie-card img{
  height:fit-content;
}
/* Movie Card styling */

/* Media Queries */
@media screen and (max-width: 600px) {
  .navbar-body{
    width:90vw;
    transform: translateY(0.5rem);
  }
}